	<!-- start: Header -->
	<!-- <header class="navbar navbar-fixed-top"> -->
	<header class="navbar">

	  <div class="container">
		 <a id="main-menu-toggle" class="hidden-xs close"><i class="fa fa-bars"></i></a>		
 		 <a class="navbar-brand col-lg-2 col-sm-1 col-xs-12 noBg" href="/"> <span>Twitter Analytics Live</span></a>
