<!DOCTYPE HTML>
<html>
  <head>
    <title>Twitter Analytics Live</title>
     <!--[if !IE]>-->
     <script src="/assets/js/jquery-2.0.3.min.js"></script>
     <!--<![endif]-->
     <!--[if IE]>
     <script src="/assets/js/jquery-1.10.2.min.js"></script>
     <![endif]-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/iopctrl.js"></script>	   
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">	
    <link href="/css/enhancements.css" rel="stylesheet">	
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>	
	 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	 <script src="assets/js/respond.min.js"></script>
	 <script src="assets/css/ie6-8.css"></script>	
    <![endif]-->
  </head>
    <body>
    <%- body %>
  </body>
</html>
