<div id="sidebar-left" class="col-lg-2 col-sm-1" style="display: none;">
				
				
				<div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
					<ul class="nav nav-tabs nav-stacked main-menu">
					</ul>
				</div>
</div>
