<div id="sidebar-left" class="col-lg-2 col-sm-1">
 <div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">				
				
				<ul class="nav nav-tabs nav-stacked main-menu affix1" data-spy="affix" data-offset-top="290"> 
                        <li><a href="/all"><i class="fa fa-home"></i><span class="hidden-sm">All</span></a></li>					
						<li><a href="/all#lb"><i class="fa fa-bullhorn"></i><span class="hidden-sm">Leader Board</span></a></li>
						<li><a href="/all#et"><i class="fa fa-comments"></i><span class="hidden-sm">Engaging Tweets</span></a></li>
						<li><a href="/all#tz"><i class="fa fa-clock-o"></i><span class="hidden-sm">User Timezone</span></a></li>
						<li><a href="/all#mentions"><i class="fa fa-eye"></i><span class="hidden-sm">Mentions</span></a></li>
						<li><a href="/all#source"><i class="fa fa-desktop">&nbsp;<i class="fa fa-mobile"></i></i><span class="hidden-sm">Source</span></a></li>
						<li><a href="/all#tfrequency"><i class="fa fa-user"></i><span class="hidden-sm">Tweet Frequency</span></a></li>
						<li><a href="/all#hc"><i class="fa fa-tags"></i><span class="hidden-sm">Hashtag Cloud</span></a></li>
						<li><a href="/all#pc"><i class="fa fa-picture-o"></i><span class="hidden-sm">Photo Grid</span></a></li>
				</ul>
				
 </div>
</div>
