      
       <div class="row">         
          <div id="status"></div>
          <div class="col-xs-12 col-md-12">
            <h1><%= title %></h1>
           </br/>Running Time: <span id=runningtime></span></p>              
         </div>
       </div>
       
       <div class="row">
       						
				<div class="col-lg-3 col-sm-6 col-xxs-12">
					<div class="smallstat box">
						<i class="fa fa-twitter black"></i>
						<span class="title">Tweets</span>
						<span class="digital" id="totaltweets">working</span>
					</div>
				</div><!--/col-->

				
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat box">
						<i class="fa fa-tachometer black"></i>
						<span class="title">ATPM</span>
						<span class="digital" id="tweetaverage">working</span>
					</div>
				</div>
				
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat box">
						<i class="fa fa-users black"></i>
						<span class="title">Users</span>
						<span class="digital" id="totalusers">working</span>
					</div>
				</div><!--/col-->
			
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat box">
						<i class="fa fa-camera black"></i>
						<span class="title">Photos</span>
						<span class="digital" id="mediacount">working</span>
					</div>
				</div><!--/col-->
				
							
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat box">
						<i class="fa fa-retweet black"></i>
						<span class="title">RT</span>
						<span class="digital" id="totalrt">working</span>
					</div>
				</div><!--/col-->
		 </div><!--/row-->
